<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>

<body style="background-image:url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp'); height:100%;width:100%; align-items: right; justify-content:center">
    {{>navbar}}
    <div style="align-items: right; justify-content:center">
   <h1 style="text-align: center;">registration form using HTML,CSS,RESTFUL API, EXPRESS,MONGODB,</h1>
   </div>
</body>

</html>